{% extends 'core/base.html'%}

{% block content %}
<div class="container mt-5">
  <h1 class="text-warning border-bottom mb-5">Certificates</h1>
  <div class="row text-center">
    <div class="col-sm-3 card mt-4  offset-sm-1">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Certificate</p>
        </div>
      </div>

      <div class=" col-sm-3 card mt-4  offset-sm-1" >
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Certificate</p>
        </div>
      </div>

      <div class=" col-sm-3 card mt-4  offset-sm-1" >
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Certificate</p>
        </div>
      </div>
</div>

</div>

</div>

  
  {% endblock content %}