{% load static%}
<div class="border-right border-warning h-100">
    <div class="text-center">
        <img src="{% static 'core/images/img.jpg'%}" alt="parul image" class="img-fluid rounded-circle mt-5" width="100px" height="100px">
        <h3 class="mt-2 text-white font-weight-bold fonts">Parul</h3>
    </div>
    
    <hr class="border-light">
    <nav class="nav flex-column text-center">
        <a href="{% url 'home' %}" class="nav-link">Home</a>
        <a href="{% url 'certificate'%}" class="nav-link">Certificates</a>
        <a href="{% url 'skills' %}" class="nav-link">Skills</a>
        <a href="{% url 'contact'%}" class="nav-link">Contact</a>
    </nav>
</div>