{% extends 'blog/base.html'%}
{% load static %}
{% block content %}
<div class="container">
    <div class="col-sm-8 offset-2">
        <h3 class=my-5>About</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque, soluta!</p>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem saepe vitae perferendis ratione exercitationem dignissimos placeat fuga qui eaque sint tempora aliquam illo, numquam iure similique nemo? Inventore, natus commodi.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, iure. Distinctio totam accusantium ipsum amet aliquam minima nihil natus. Expedita atque necessitatibus, eaque mollitia provident vitae illum nulla eum quasi excepturi assumenda ipsa consequuntur ut accusantium eos hic. Eaque, libero? Hic veritatis quos quam, quaerat nobis architecto quibusdam amet ipsum?</p>
    </div>
    
</div>
{% endblock content %}